absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/altgraph-0.17.2-py2.py3-none-any.whl
amqp==5.1.1
appdirs==1.4.4
appnope==0.1.3
asgiref==3.6.0
astroid==2.12.13
asttokens==2.2.1
async-timeout==4.0.2
attr==0.3.1
attrs==22.2.0
auto-labeling-pipeline==0.1.21
autopep8==2.0.1
azure-core==1.26.4
azure-storage-blob==12.16.0
backcall==0.2.0
bandit==1.7.5
billiard==3.6.4.0
black==22.12.0
bleach==5.0.1
blinker==1.6.2
boto==2.49.0
boto3==1.16.63
botocore==1.19.63
boxing==0.1.4
cachetools==5.3.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==40.0.1
databricks-api==0.8.0
databricks-cli==0.17.6
dataclasses==0.6
datacompy==0.8.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.7
dj-database-url==0.5.0
dj-rest-auth==2.2.8
Django==3.2.16
django-allauth==0.50.0
django-annoying==0.10.6
django-celery-results==2.4.0
django-cleanup==6.0.0
django-cors-headers==3.6.0
django-debug-toolbar==3.2.1
django-drf-filepond==0.4.1
django-extensions==3.1.0
django-filter==2.4.0
django-health-check==3.17.0
django-model-utils==4.1.1
django-polymorphic==3.1.0
django-ranged-fileresponse==0.1.2
django-rest-polymorphic==0.1.10
django-rest-swagger==2.2.0
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
djangorestframework-xml==2.0.0
doccano==1.8.3
docker==6.0.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-yasg==1.20.0
duration-search @ git+https://github.com/codeforamerica/duration-search@43785675e1a71e849758065181899a76c3c73a66
environs==9.5.0
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing==1.2.0
expiringdict==1.2.2
filelock==3.12.4
filetype==1.2.0
fillpdf==0.7.2
Flask==2.3.2
Flask-Cors==4.0.0
flower==1.2.0
Frozen-Flask==0.18
frozenlist==1.3.3
furl==2.1.3
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/future-0.18.2-py3-none-any.whl
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.10.0
google-auth==2.11.0
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.2
google-cloud-logging==2.7.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.3
grpcio==1.53.0
grpcio-status==1.48.2
gunicorn==20.1.0
htmlmin==0.1.12
humanize==4.6.0
idna==3.4
importlib-metadata==6.3.0
inflection==0.5.1
iniconfig==1.1.1
ipython==8.12.0
isodate==0.6.1
isort==5.11.4
itsdangerous==2.1.2
itypes==1.2.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
johnsnowlabs==4.4.2
jsonify==0.5
jsonschema==3.2.0
kombu==5.2.4
label-studio==1.7.3
label-studio-converter==0.0.51
label-studio-tools==0.0.2
launchdarkly-server-sdk==7.5.0
lazy-object-proxy==1.8.0
lml==0.1.0
lockfile==0.12.2
lxml==4.9.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.19.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
munkres==1.1.4
mypy-extensions==0.4.3
networkx==3.1
nltk==3.6.7
nlu==4.2.0
numpy==1.21.6
oauthlib==3.2.2
openai==0.27.4
openapi-codec==1.3.2
openpyxl==3.1.2
ordered-set==4.0.2
orderedmultidict==1.0.1
packaging==22.0
pandas==1.3.5
parso==0.8.3
pathspec==0.10.3
pbr==5.11.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.9.0
pdfrw==0.4
pdfrw2==0.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.11.0
pluggy==1.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==3.20.3
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydocstyle==6.3.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyflakes==3.0.1
Pygments==2.15.1
PyJWT==2.6.0
pylama==8.4.1
pylint==2.15.9
PyMuPDF==1.22.5
PyPDF2==3.0.1
PyPDF4==1.27.0
pyRFC3339==1.1
pyrsistent==0.19.3
pyspark==3.1.2
pytest==7.2.0
python-dateutil==2.8.1
python-dotenv==1.0.0
python-json-logger==2.0.4
python3-openid==3.2.0
pytz==2019.3
PyYAML==6.0
redis==4.5.4
regex==2023.3.23
requests==2.28.0
requests-oauthlib==1.3.1
rich==13.4.2
rq==1.10.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
rules==2.2
s3transfer==0.3.7
scikit-learn==1.2.2
scipy==1.10.1
semver==2.13.0
sentry-sdk==1.20.0
seqeval==1.2.2
shortuuid==1.0.11
simplejson==3.19.1
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.0
snorkel==0.9.9
snowballstemmer==2.2.0
spark-nlp==4.4.0
spark-nlp-display==4.1
SQLAlchemy==1.4.47
sqlparse==0.4.3
stack-data==0.6.2
stevedore==5.1.0
svgwrite==1.4
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
texttable==1.6.7
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.6
torch==2.0.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.4.0
ua-parser==0.16.1
ujson==5.7.0
uritemplate==4.1.1
urllib3==1.26.15
user-agents==2.2.0
vine==5.0.0
virtualenv==20.24.5
waitress==2.1.2
Wand==0.6.11
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.6
whitenoise==6.4.0
wrapt==1.14.1
xmljson==0.2.0
yapf==0.32.0
yarl==1.8.2
zipp==3.15.0
